<div class="main-content" style="min-height: 521px;">
  <section class="section">

    <div class="section-header">
      <h1>Mon profil</h1>
    </div>

    <div class="section-body">

      <h2 class="section-title">Voici l'ensemble des lieux</h2>
      <p class="section-lead">N'hésite pas à modifier les informations des lieux pour que les utilisateurs soient à jour</p>


      <%= render "admins/components/portfolio_all_places"  %>


    </div>


  </section>
</div>