<div class="col-md-6">
  <div class="card">
    <div class="card-header">
      <h4>Best Products</h4>
    </div>
    <div class="card-body">
      <div class="owl-carousel owl-theme" id="products-carousel">
        <div>
          <div class="product-item pb-3">
            <div class="product-image">
              <img alt="image" src="../assets/img/products/product-4-50.png" class="img-fluid">
            </div>
            <div class="product-details">
              <div class="product-name">iBook Pro 2018</div>
              <div class="product-review">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <div class="text-muted text-small">67 Sales</div>
              <div class="product-cta">
                <a href="#" class="btn btn-primary">Detail</a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="product-item">
            <div class="product-image">
              <img alt="image" src="../assets/img/products/product-3-50.png" class="img-fluid">
            </div>
            <div class="product-details">
              <div class="product-name">oPhone S9 Limited</div>
              <div class="product-review">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half"></i>
              </div>
              <div class="text-muted text-small">86 Sales</div>
              <div class="product-cta">
                <a href="#" class="btn btn-primary">Detail</a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="product-item">
            <div class="product-image">
              <img alt="image" src="../assets/img/products/product-1-50.png" class="img-fluid">
            </div>
            <div class="product-details">
              <div class="product-name">Headphone Blitz</div>
              <div class="product-review">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <div class="text-muted text-small">63 Sales</div>
              <div class="product-cta">
                <a href="#" class="btn btn-primary">Detail</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
