<div class="row matches">
  <% @places.each do |place| %>

  <div class="col-lg-4 col-md-6 matches-item d-flex">

    <div class="card text-white">
      <%= image_tag "coffee-shop.jpg", class:"d-block w-100 card-bg-img" %>
      <div class="place-infos">
        <div class="col-6 place-title">
          <h5 class="card-title"><%= link_to place.name, place_path(place.id) %></h5>
        </div>
      </div>
    </div>

    <div>
      <div class="icons-box">
        <div class="icon">
          <i class="fas fa-wifi"></i>
        </div>
      </div>
      <div class="icons-box">
        <div class="icon">
          <i class="fas fa-wifi"></i>
        </div>
      </div>
    </div>

  </div>

  <% end %>
</div>