<section id="show-header" class="clearfix">	
	<div class="container">

		<div class="header-info text-right">
			<h2><%= @place.name %></h2>

			<div>
				<a href="#" class="btn-fav float-right scrollto"><i class="fas fa-heart"></i> Ajouter aux favoris</a>
			</div>
		</div>

	</div>
</section>