<div class="row matches">
  <% placesMatch.each do |place| %>

  <div class="col-lg-4 col-md-6 matches-item">
    <div class="card text-white">
      <%= image_tag "coffee-shop.jpg", class:"d-block w-100 card-bg-img" %>
      <div class="place-infos">
        <div class="col-6 place-title">
          <h5 class="card-title"><%= link_to place.name, place_path(place.id) %></h5>
        </div>
        <div class="col-6 place-badges">
          <div class="d-flex justify-content-around align-items-center pb-2">
            <% if place.wifi %>
            <div class="icons-box">
              <div class="icon">
                <i class="fas fa-wifi"></i>
              </div>
            </div>
            <% end %>
            <% if place.e_outlet %>
            <div class="icons-box">
              <div class="icon">
                <i class="fas fa-plug"></i>
              </div>
            </div>
            <% end %>
          </div>
          <div class="d-flex justify-content-center">
            <span class="badge badge-pill badge-pill-info"><i class="fas fa-music"></i> <%= place.vibe %></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% end %>
</div>
