<!--
<div class="row matches">
<% placesMatch.each do |place| %>
  <div class="col-lg-4 col-md-6 portfolio-item filter-app">
    <div class="portfolio-wrap">
      <img src="../assets/img/portfolio/app1.jpg" class="img-fluid" alt="">
      <div class="portfolio-info">
        <h4><%= link_to place.name, place_path(place.id) %></a></h4>
        <p><%= place.description %></p>
      </div>
    </div>
  </div>
  <% end %>
</div> -->


<div class="row matches">
  <% @places.each do |place| %>
  <div class="col-lg-4 col-md-6 matches-item">
    <div class="card text-white">
      <%= image_tag "coffee-shop.jpg", class:"d-block w-100 card-bg-img" %>
      <div class="place-infos">
        <div>
          <h5 class="card-title">Card title</h5>
          <span class="badge badge-pill badge-pill-info"><i class="fas fa-music"></i> electronique</span>
        </div>
        <div>
          <div class="icons-box">
            <div class="icon">
              <i class="fas fa-wifi"></i>
            </div>
          </div>
          <div class="icons-box">
            <div class="icon">
              <i class="fas fa-plug"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>