<div class="row about-container mb-3">

	<div class="col-lg-7 content mb-4">
		<p> <%= @place.description %> </p>
	</div>

	<div class="col-lg-5 content mb-3">

		<div class="d-flex justify-content-around">

			<div class="icons-box">
				<% if @place.wifi %>
				<div class="icon">
					<i class="fas fa-wifi"></i>
				</div>
				<% else %>
				<div class="icon-false">
					<i class="fas fa-wifi"></i>
				</div>
				<% end %>
			</div>

			<div class="icons-box">
				<% if @place.e_outlet %>
				<div class="icon">
					<i class="fas fa-plug"></i>
				</div>
				<% else %>
				<div class="icon-false">
					<i class="fas fa-plug"></i>
				</div>
				<% end %>
			</div>

			<div class="icons-box">
				<% if @place.access_handi %>
					<div class="icon">
						<i class="fas fa-wheelchair"></i>
					</div>
				<% else %>
					<div class="icon-false">
						<i class="fas fa-wheelchair"></i>
					</div>
				<% end %>
			</div>

		</div>

		<div class="d-flex justify-content-around">

			<% if !@place.price %>
			<span class="badge badge-pill badge-pill-info"><i class="fas fa-euro-sign"></i></span>
			<% else %>
			<span class="badge badge-pill badge-pill-info"><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i></span>
			<% end %>

			<span class="badge badge-pill badge-pill-info"><i class="fas fa-music"></i> <%= @place.vibe %></span>

			<% if @place.vegan %>
			<span class="badge badge-pill badge-pill-info">vegan</span>
			<% else %>
			<span class="badge badge-pill badge-pill-false">vegan</span>
			<% end %>
		</div>

	</div>


</div>