// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// PLACES#SHOW //

//HEADER
#show-header {
  width: 100%;
  height: 50%;
  
  padding: 0;
}

.header-info {
  width: 50%;
  float: right;
  position: absolute;
  top: 70%;
  right: 2%;
  z-index: 3;
}

.header-info-landing {
  width: 70%;
  float: left;
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 3;
}

.header-info-landing h2 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 100px;
  font-weight: 700;
  font-size: 6vw;
}

.header-info h2 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
}

.header-btn-landing {
  display: flex;
  position: absolute;
  z-index: 3;
	font-size: 6vw;
  top: 60%;
  left: 12%;
}

.btn-fav {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 0 20px 20px 0;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #b61251;
  color: #b61251;
}

.btn-fav-landing {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 80px;
  border-radius: 60px;
  transition: 0.5s;
  margin: 0 20px 20px 0;
  background: #b61251;
  border: 2px solid #b61251;
  color: #fff;
  font-size: 2vw;
}

.btn-fav:hover {
  background: #b61251;
  border: 2px solid #b61251;
  color: #fff;
}

.btn-fav-landing:hover {
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #b61251;
  color: #b61251;
}

//SECTION DESCRIPTION

.badge-pill-info {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .8px !important;
  display: inline-block;
  padding: 10px 20px !important;
  border-radius: 30px;
  margin: 2px 5px;
  border: 2px solid ;
  background-color: #007bff;
  color: #fff;
}


//SECTION MAP

.aside-header h4{
  margin-top: 2rem;
  font-size: 28px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
}
.aside-header p{
  padding: 10px 26px 10px 26px;
  color: #556877;
}

.btn-edit,
.btn-delete {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 0 20px 20px 0;
}

.btn-edit {
  background: #18b466;
  border: 2px solid #18b466;
  color: #fff;
}

.btn-edit:hover {
  background: none;
  border-color: #556877;
  color: #556877;
}

.btn-delete {
  background: #b42a18;
  border: 2px solid #b42a18;
  color: #fff;
}

.btn-delete:hover {
  background: none;
  border-color: #556877;
  color: #556877;
}

#carousel-section .carousel-inner {
	width: 100%;
  min-width: 100%;
  height: 725px;
  max-height: 800px;
  min-height: 100px;
  overflow: hidden;
  object-fit: cover;
}

#footer {
	min-height: 80px;
	background-color: #2E4A5F !important;
}

