<section id="portfolio" class="clearfix">
	<div class="container">
		<div class="row">
			<h1>Salut <%= current_user.first_name %>!</h1>
		</div>

		<%= render "places/components/portfolio_places"  %>

		<%= render "places/components/promoted_places"  %>		

	</div>
</section>