<!-- <div class="row">
	<% Place.all.each do |place| %>
		<h3><%= place.name %></h3>
		<h2><%= place.description %></h2>
		<% if place.wifi %>
			<p>Wifi inside</p>
			<%else%>
			<p>No wifi</p>
		<%end%>
	<%end%>
</div> -->

    <section id="portfolio" class="clearfix">
      <div class="container">
				<div class="row portfolio-container">

					<%= render "places/components/portfolio_places"  %>

				</div>
			</div>
		</section>