    <%= render "places/components/header_place_show"  %>

<section id="about">
	<div class="container">

		<header class="section-header">
			<h3>Découvrir l'endroit</h3><br>
			
		</header>

    <%= render "places/components/presentation_place"  %>

    <%= render "places/components/location_place"  %>

	</div>
</section>

<%= render "places/components/comments"  %>
