<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="index.html">Stisla</a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="index.html">St</a>
    </div>
    <ul class="sidebar-menu">
        <li class="menu-header">Dashboard</li>
        <li class="nav-item dropdown active">
          <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Dashboard</span></a>
        <li class="menu-header">Places</li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Montpellier</span></a>
        </li>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link has-dropdown"><i class="fas fa-map-marker-alt"></i> <span>Users</span></a>
          <ul class="dropdown-menu">
            <li><a href="gmaps-advanced-route.html">[insert here]</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link has-dropdown"><i class="fas fa-map-marker-alt"></i> <span>Google Maps</span></a>
          <ul class="dropdown-menu">
            <li><a href="gmaps-advanced-route.html">Advanced Route</a></li>
            <li><a href="gmaps-draggable-marker.html">Draggable Marker</a></li>
            <li><a href="gmaps-geocoding.html">Geocoding</a></li>
            <li><a href="gmaps-geolocation.html">Geolocation</a></li>
            <li><a href="gmaps-marker.html">Marker</a></li>
            <li><a href="gmaps-multiple-marker.html">Multiple Marker</a></li>
            <li><a href="gmaps-route.html">Route</a></li>
            <li><a href="gmaps-simple.html">Simple</a></li>
          </ul>
        </li>
      
      <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
        <a href="<%=root_path%>" class="btn btn-primary btn-lg btn-block btn-icon-split">
          <i class="fas fa-rocket"></i> Back to main website
        </a>
      </div>
  </aside>
</div>